
{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="container">
    <div class="row mt-3 mx-auto"style="border-style:solid; border-radius: 2rem; ">
        <div class="col-md-6 offset-5">
          <div class="jumbotron" >
            <h4 class="display-4"style="font-weight:bold">Rs. 1000</h4>
            <p class="lead">Unlimited Teams within your instance
               <p>Communites on Teams</p> 
                <p>Robust read and write API</p>
               <p>Your own customer success and community building representative</p> 
                <p>99.5% uptime SLA and priority support</p>
                
            
            <div class="col-md-3 mb-3">
               
                <a href="/makepayment" class="btn btn-primary">Make Payment</a>
            </div>
        </div>
    </div>
</div>    
{% endblock 'main' %}